<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DBconn" connectionString="Data Source=Yourdatasource;Initial Catalog=Stock;User ID=Superadmin;Password=Superadmin;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="Demo.Properties.Settings.StockConnectionString" connectionString="Data Source=192.168.1.96,50741;Initial Catalog=Stock;User ID=Superadmin;Password=Superadmin;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>